@font-face {
  font-family: Inter;
  src: url("/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}

@font-face {
  font-family: IntelOneMono;
  src: url("/fonts/IntelOneMono-Light.ttf") format("truetype");
}

:root {
  --font-heading: "Inter", sans-serif;
  --font-body: "Inter", sans-serif;
  --color-bg-0: rgb(202, 216, 228);
  --color-bg-1: hsl(209, 36%, 86%);
  --color-bg-2: hsl(224, 44%, 95%);
  --color-theme-1: #ff3e00;
  --color-theme-2: #4075a6;
  --color-text: rgba(0, 0, 0, 0.7);
  --column-width: 42rem;
  --column-margin-top: 4rem;
  font-family: var(--font-body);
  color: var(--color-text);
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: #110f23;
  background-size: 1326px 1021px, 1807px 580px;
  background-image: url("/cornerGraphic.svg"), url("/starsBackground.svg");
  background-repeat: no-repeat, repeat;
  background-position: 0 0, 0 0;
}

.bg-image {
}

h1,
h2 {
  margin: 0;
  line-height: 1.2;
}

h1,
h2,
p {
  font-weight: 400;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1rem;
}

pre {
  font-size: 16px;
  font-family: var(--font-mono);
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 3px;
  box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
  padding: 0.5em;
  overflow-x: auto;
  color: var(--color-text);
}

.text-column {
  display: flex;
  max-width: 48rem;
  flex: 0.6;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

input,
button {
  font-size: inherit;
  font-family: inherit;
}

button:focus:not(:focus-visible) {
  outline: none;
}

@media (min-width: 720px) {
  h1 {
    font-size: 2.4rem;
  }
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s;
}

.card-root {
  color: white;
}

.astro-card-root {
  border-radius: 30px;
  border: 2px solid #604785;
  background: linear-gradient(
    116deg,
    rgba(135, 101, 161, 0.2) 34.6%,
    rgba(108, 70, 138, 0.2) 71.11%
  );
  backdrop-filter: blur(4px);

  color: #edd7ff;
  font-family: Inter;
  font-weight: 200;

  height: 100%;
  display: flex;
  flex-direction: column;
}

.human-card-root {
  border-radius: 30px;
  border: 2px solid #2e85d4;
  background: linear-gradient(
    116deg,
    rgba(95, 155, 243, 0.2) 34.6%,
    rgba(67, 118, 194, 0.2) 71.11%
  );
  backdrop-filter: blur(4px);
}

.home-card {
  cursor: pointer;
}
.home-card:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.rendered-md {
  font-weight: 200;
}

.rendered-md p {
  margin-bottom: 1rem;
  font-weight: 200;
}

.rendered-md p:last-child {
  margin-bottom: 0;
}

.rendered-md h1 {
  font-size: 1rem;
}

.rendered-md pre {
  background-color: transparent;
  color: inherit;
  margin-bottom: 1rem;
}

#consent-manager button:first-child {
  background-color: rgb(71, 184, 129);
}

#consent-manager button:last-child {
  background-color: rgb(255, 255, 255);
}

#consent-manager p > button {
  background-color: transparent !important;
}
