version: 2.1

all_branches_and_version_tag: &all_branches_and_version_tag
  filters:
    tags:
      only: /^\d+[.\d]+.*/

executors:
  docker-executor:
    parameters:
      python_version:
        type: string
        default: "3.11"
    docker:
      - image: cimg/python:<<parameters.python_version>>

jobs:
  test:
    parameters:
      python_version:
        description: "Python Version"
        type: string
    description: Test Python-<<parameters.python_version>>
    executor:
      name: docker-executor
      python_version: "<<parameters.python_version>>"
    parallelism: 4
    working_directory: ~/project/api
    steps:
      - checkout:
          path: ~/project
      - run:
          name: Install Dependencies
          command: poetry install --no-root
      - run:
          name: Set PYTHONPATH
          command: echo 'export PYTHONPATH=$PYTHONPATH:.' >> $BASH_ENV
      - run:
          name: Run tests
          command: |
            poetry run pytest ../tests || poetry run pytest --last-failed ../tests

  precommit:
    executor: docker-executor
    working_directory: ~/project/api
    steps:
      - checkout:
          path: ~/project
      - run:
          name: Install Pre-commit
          command: pip install pre-commit
      - run:
          name: Run pre-commit hooks
          command: pre-commit run --all-files

workflows:
  tests:
    jobs:
      - test:
          name: test-python<< matrix.python_version >>
          matrix:
            parameters:
              python_version: [ "3.11" ]
          <<: *all_branches_and_version_tag
      - precommit:
          <<: *all_branches_and_version_tag
